@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .green-pink-gradient {
    background: "#00cea8";
    background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  }
}

.text-gradient {
  background: linear-gradient(90deg, #02C27D 2%, #095FAF 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.herotext-gradient {
  background: linear-gradient(90deg, #2D7DC8 0%, #02C27D 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

