@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .green-pink-gradient {
    background: "#00cea8";
    background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  }
}

.text-gradient {
  background: linear-gradient(90deg, #02c27d 2%, #095faf 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.herotext-gradient {
  background: linear-gradient(180deg, transparent 0%, #000000 100%),
    linear-gradient(90deg, #2d7dc8 0%, #02c27d 40%);
  -webkit-background-clip: text, text;
  -webkit-text-fill-color: transparent;
}
.diamond-container {
  transform: rotate(45deg);
  box-shadow: 32px 32px 32px 0 rgba(45, 1, 149, 0.5);
}
.img-white {
  filter: brightness(0) invert(1);
}
