@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .green-pink-gradient {
    background: "#00cea8";
    background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  }
}

.text-gradient {
  background: linear-gradient(90deg, #02c27d 2%, #095faf 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.herotext-gradient {
  background: 
              linear-gradient(90deg, #2d7dc8 0%, #02c27d 40%);
  -webkit-background-clip: text, text;
  -webkit-text-fill-color: transparent;
}


.gradient-bg {
  background: linear-gradient(90deg, #43B2F0 0%, #013723 40%);
}
